{% extends "base.html" %}

{% block head_title %}{{ object.name }} in game "{{ object.game.name }}"{% endblock %}

{% block content %}
    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'game_list' %}">Games</a></li>
        <li><a href="{{ object.game.get_absolute_url }}">{{ object.game.name }}</a></li>
        <li><a href="{{ object.scene.get_absolute_url }}">{{ object.scene.name }}</a></li>
        <li class="uk-active"><span>{{ object.name }}</span></li>
    </ul>
    <h1>{{ object.name }}</h1>
    <p>
        {{ object.description }}
    </p>
    <div class="properties-list">
        <h3>Blocks</h3>
        {% for blck in object.blocks.all %}
        <div class="properties-list-item uk-grid">
            <div class="uk-width-2-5">
                {{ blck.content }}
            </div>
            <div class="uk-width-2-5">
                {{ blck.condition }}
            </div>
            <div class="uk-width-1-5">
                <a
                    class="uk-button uk-button-danger uk-button-mini"
                    href="{% url 'block_delete' blck.game.pk blck.scene.pk blck.moment.pk blck.pk %}"
                    >
                    remove
                </a>
                <a
                    class="uk-button uk-button-primary uk-button-mini"
                    href="{% url 'block_update' blck.game.pk blck.scene.pk blck.moment.pk blck.pk %}"
                    >
                    edit
                </a>
            </div>
        </div>
        {% empty %}
            <p>
                <b>No Blocks :(</b>
            </p>
        {% endfor %}
        <div class="properties-list-item uk-margin-top">
            <a href="{% url 'block_create' object.game.pk object.scene.pk object.pk %}" class="uk-button">
                create block
            </a>
        </div>
        <hr/>
        <h3>Actions</h3>
        {% for action in object.actions.all %}
        <div class="properties-list-item uk-grid">
            <div class="uk-width-2-5">
                {{ action.content }}
            </div>
            <div class="uk-width-2-5">
                {{ action.condition }}
            </div>
            <div class="uk-width-1-5">
                <a
                    class="uk-button uk-button-danger uk-button-mini"
                    href="{% url 'moment_action_delete' action.game.pk action.scene.pk action.moment.pk action.pk %}"
                    >
                    remove
                </a>
                <a
                    class="uk-button uk-button-primary uk-button-mini"
                    href="{% url 'moment_action_update' action.game.pk action.scene.pk action.moment.pk action.pk %}"
                    >
                    edit
                </a>
            </div>
        </div>
        {% empty %}
            <p>
                <b>No Actions :(</b>
            </p>
        {% endfor %}
        <div class="properties-list-item uk-margin-top">
            <a href="{% url 'moment_action_create' object.game.pk object.scene.pk object.pk %}" class="uk-button">
                create action
            </a>
        </div>
    </div>
{% endblock %}