{% extends "base.html" %}

{% block head_title %}Text block in game "{{ object.game.name }}"{% endblock %}

{% block content %}
    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'game_list' %}">Games</a></li>
        <li><a href="{{ object.game.get_absolute_url }}">{{ object.game.name }}</a></li>
        <li><a href="{{ object.scene.get_absolute_url }}">{{ object.scene.name }}</a></li>
        {% if object.moment %}
        <li><a href="{{ object.moment.get_absolute_url }}">{{ object.scene.name }}</a></li>
        {% endif %}
        <li class="uk-active"><span>{{ object.name }}</span></li>
    </ul>
    <h1>Text block</h1>
    <div class="properties-list-item uk-grid">
        <div class="uk-width-1-2">
            {{ object.content }}
        </div>
        <div class="uk-width-1-2">
            {{ object.condition }}
        </div>
        <div class="uk-width-1-1">
            <a
                class="uk-button uk-button-danger"
                href="{% url 'block_delete' blck.game.pk blck.scene.pk blck.moment.pk blck.pk %}"
                >
                remove
            </a>
            <a
                class="uk-button uk-button-primary"
                href="{% url 'block_update' blck.game.pk blck.scene.pk blck.moment.pk blck.pk %}"
                >
                edit
            </a>
        </div>
    </div>
{% endblock %}