{% extends "base.html" %}

{% block head_title %}{{ object.name }} in game "{{ object.game.name }}"{% endblock %}

{% block content %}
    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'game_list' %}">Games</a></li>
        <li><a href="{{ object.game.get_absolute_url }}">{{ object.game.name }}</a></li>
        <li class="uk-active"><span>{{ object.name }}</span></li>
    </ul>
    <h1>{{ object.name }}</h1>
    <p>
        {{ object.description }}
    </p>
    <div class="properties-list">
        <h3>Moments</h3>
        {% for moment in object.moments.all %}
            <div class="moment-list-item uk-grid uk-grid-divider">
                <div class="uk-width-3-4">
                    <h3>
                        <a href="{{ moment.get_absolute_url }}">
                            {{ moment.name }}
                        </a>
                    </h3>
                    <p>{{ moment.description }}</p>
                </div>
                <div class="uk-width-1-4">
                    <ul class="uk-list">
                        <li>
                            created at: {{ moment.created_at }}
                        </li>
                        <li>
                            updated at: {{ moment.updated_at }}
                        </li>
                        <li>
                            <a
                                class="uk-button uk-button-mini uk-button-primary"
                                href="{% url 'moment_update' game.pk scene.pk moment.pk %}"
                            >
                                update
                            </a>
                            <a
                                class="uk-button uk-button-mini uk-button-danger"
                                href="{% url 'moment_delete' game.pk scene.pk  moment.pk %}"
                            >
                                delete
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if not forloop.last %}
                <hr class="uk-grid-divider">
            {% endif %}
        {% empty %}
            <p>
                <b>No Moments :(</b>
            </p>
        {% endfor %}
        <div class="properties-list-item uk-margin-top">
            <a href="{% url 'moment_create' object.game.pk object.pk %}" class="uk-button">
                create moment
            </a>
        </div>
    </div>
{% endblock %}