{% extends "base.html" %}

{% block head_title %}{{ object.name }} in game "{{ object.game.name }}"{% endblock %}

{% block content %}
    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'game_list' %}">Games</a></li>
        <li><a href="{{ object.game.get_absolute_url }}">{{ object.game.name }}</a></li>
        <li class="uk-active"><span>{{ object.name }}</span></li>
    </ul>
    <h1>{{ object.name }}</h1>
    <p>
        {{ object.description }}
    </p>
    {% comment %}
    <div class="properties-list">
        <h3>Properties</h3>
        {% for property in object.properties.all %}
        <div class="properties-list-item uk-grid">
            {{ property }}
        </div>
        {% empty %}
            <p>
                <b>No Properties :(</b>
            </p>
        {% endfor %}
        <div class="properties-list-item uk-margin-top">
            <a href="#" class="uk-button">
                create property
            </a>
        </div>
    </div>
    {% endcomment %}
{% endblock %}