{% extends "base.html" %}

{% block head_title %}Play: {{ object.name }}{% endblock %}

{% block content %}
    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'game_list' %}">Games</a></li>
        <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
        <li class="uk-active"><span>Play</span></li>
    </ul>

    <h1>{{ object.name }}</h1>
    
    <div class="uk-grid uk-grid-divider uk-margin">
        <div class="uk-width-1-2">
            <form class="uk-form" action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="new_game" />
                <button class="uk-button-success uk-button">new game</button>
            </form>
        </div>
    </div>

    <p>
        активный перс: {{ session.active_character.character.name }}
    </p>

    <hr/>
    <div class="uk-margin">
    {% for gamelog in session.gamelogs.all %}
        {{ gamelog.created_at|date:"d.m.Y H:i:s" }}, {{ gamelog.get_source_display }}<br/>
        {{ gamelog.text|linebreaksbr }}
        <br/><br/>
    {% endfor %}
    </div>

    <div class="uk-margin">
        {% now "d.m.Y H:i:s" %}, current vision<br/>
        {{ session.get_game_data.vision|linebreaksbr }}
    </div>

    <ul class="uk-margin uk-list uk-list-space">
    {% for action in session.get_game_data.actions %}
        <li>
            <form class="uk-form" action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="do" />
                <input type="hidden" name="action_id" value="{{ action.id }}" />
                <button class="uk-button uk-button-small">
                    {{ action.content }}
                </button>
            </form>
        </li>
    {% empty %}
        </i><i>похоже тут больше нечего делать :(</i></li>
    {% endfor %}
    </ul>

{% endblock %}